In [3]:
a = 10 
b = a
id(a)
id(b)

b += 15
a
id(b)

140722229142600

140722229142600

10

140722229143080

In [6]:
a = [1,2,3,4]
b = a
id(a)
id(b)
b[2] =100
a

id(a)
id(b)

2129487994880

2129487994880

[1, 2, 100, 4]

2129487994880

2129487994880

In [8]:
a = [1,2,3,4]
b = a[:]
id(a)
id(b)

b[2] =100
a

id(a)
id(b)

2129482985600

2129487837888

[1, 2, 3, 4]

2129482985600

2129487837888

In [9]:
b

[1, 2, 100, 4]

In [11]:
a = [1,2,3,4,[5,6,7]]
b = a[:]
id(a)
id(b)
b[1] = 100
a

2129482807488

2129482852160

[1, 2, 3, 4, [5, 6, 7]]

In [12]:
a = [1,2,3,4,[5,6,7]]
b = a[:]
id(a)
id(b)
b[4][0] = 100
a

2129482984896

2129487734144

[1, 2, 3, 4, [100, 6, 7]]

In [19]:
from copy import deepcopy
a = [19846546,254587,3987654,4959846,[598494,6989,7989]]
# b= a[:]
# b[4] = a[4][:]
b = deepcopy(a)
b[4][0] = 100

a

[19846546, 254587, 3987654, 4959846, [598494, 6989, 7989]]

In [ ]:
a = 10

if a ==10:
    print("value of a is 10")
    
if condition:
    statements;
    
elsif condition:
    statements

elsif condition:
    statements
    
else:
    statements.

In [20]:
a ==10

1 in [1,2,3,4]

False

True

In [ ]:
if a >10:
    if a < 100:
        print("a is more tjan 10 and less than 100")
    elif a<90:
        print("a is more tjan 10 and less than 90")

In [ ]:
for value in iterable:
    statements

In [22]:
a = (1,2,3,4)

for i in a:
    print(i)

1
2
3
4

In [ ]:
a = (1,2,3,4)

for i in a:
    print(i)

In [23]:
a = "asdflj"

for i in a:
    print(i)

a
s
d
f
l
j

In [ ]:
break

In [26]:
a = [5,10,15,35,34]
#b = [10,15,40,34]
b = []
for i in a:
    if i%5 ==0:
        b.append(i+5)
    else:
        print("value " + str(i))
        
b

value34

[10, 15, 20, 40]

In [29]:
a = [5,10,15,35,34]
#b = [10,15,40,34]
b = []
for i in a:
    if i%5 != 0:
        b.append(i)
    else:
        b.append(i+5)
        
b

[10, 15, 20, 40, 34]

In [34]:
a = [5,10,15,35,34,60]
#b = [10,15,40,34]
# once the value , is not divisible by 5  stop incrmenting
b = []
x =0
for i in a:
    if i%5 != 0:
        b.append(i)
        x = 1
        continue
    else:
        if x ==0:
            b.append(i+5)
        else:
            b.append(i)
    
        
b

[10, 15, 20, 40, 34, 60]

In [36]:
# def statements can be kept in conditions also.
import pyfiglet

print("*"*70)
ascii_banner = pyfiglet.figlet_format("Hello!!")
print(ascii_banner)
print("*"*70)

**********************************************************************
 _   _      _ _       _ _
| | | | ___| | | ___ | | |
| |_| |/ _ \ | |/ _ \| | |
|  _  |  __/ | | (_) |_|_|
|_| |_|\___|_|_|\___/(_|_)


**********************************************************************

In [40]:
# def statements can be kept in conditions also.
import pyfiglet

def func1(message):
    print("*"*70)
    ascii_banner = pyfiglet.figlet_format(message)
    print(ascii_banner)
    print("*"*70)

In [41]:
func1("asdfsadf")

**********************************************************************
               _  __               _  __
  __ _ ___  __| |/ _|___  __ _  __| |/ _|
 / _` / __|/ _` | |_/ __|/ _` |/ _` | |_
| (_| \__ \ (_| |  _\__ \ (_| | (_| |  _|
 \__,_|___/\__,_|_| |___/\__,_|\__,_|_|


**********************************************************************

In [42]:
def func1(message):

In [44]:
def func1(mesage):
    pass

In [ ]:
func funname {
    
}

In [50]:
# a = [5,10,15,35,34,60]
a = [5,10,15,35,35,60]
#b = [10,15,35,40,34,100]
# once the value , is not divisible by 5 stop adding to new array
# if above condition does not happens add 100 to resulting list.
b = []
x =0
for i in a:
    if i%5 != 0:
        b.append(i)
        x = 1
        break
    else:
        if x ==0:
            b.append(i+5)
        else:
            b.append(i)
else:
     b.append(100)
b

[10, 15, 20, 40, 40, 65, 100]

In [51]:
a = [5,10,15,35,35,60,'sdf']