In [2]:
# E1 1. Write a Python program that declares two variables, "x" and "y", and assigns them values of 5 and 3, respectively. Then, using math operations, print out the result of "x" raised to the power of "y".
x,y = 5,10
x**y

9765625

In [4]:
#e2:
#reverse of a string

str1 = "reverse of a string"
str1[::-1]

'gnirts a fo esrever'

In [6]:
#e3
#Capitalize first letter in each word of a given string.
str1 = "reverse of a string"
split_string = str1.split()
new_string=[]
for i in split_string:
    new_string.append(i.capitalize())

" ".join(new_string)

'Reverse Of A String'

In [7]:
str1 = "reverse of a string"
str1.title()

'Reverse Of A String'

In [1]:
#E4
list1 = ['pizza', 'sushi', 'tacos', 'ice cream']
for food in list1:
    print(food)

pizza
sushi
tacos
ice cream

In [ ]:
#e5
list1 = ['pizza', 'sushi', 'tacos', 'ice cream',1,2,3,4]
for value in list1:
    print(value)

In [ ]:
#E6
i = list(range(1,10))

i[4:5] # 5th position index is 4

In [3]:
#E7
a = ('Monday','Tuesday','wednesday','thur','fri','sat','sunday')
a[2]

'wednesday'

In [4]:
#e8Create a tuple containing the values 1, 2, and 3. Unpack the tuple into three variables, and then print the variables

a = (1,2,"tuple")
x,y,z = a
print(x,y,z)

1 2 tuple