In [ ]:
MAP, REDUCE , FILTER

SQuare of a list values map example.

In [1]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
    
squared

[1, 4, 9, 16, 25]

In [2]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2+1)
    
squared

[2, 5, 10, 17, 26]

In [6]:
items = [1, 2, 3, 4, 5]
fun1 = lambda x:x**2+1
squared=[]
for i in items:
    squared.append(fun1(i))

squared

[2, 5, 10, 17, 26]

In [7]:
items = [1, 2, 3, 4, 5]
squared = list(map(fun1,items))
squared

[2, 5, 10, 17, 26]

In [ ]:
map(func1,list1)

In [8]:
items = [1, 2, 3, 4, 5]
list(map(lambda x: x**2, items))

[1, 4, 9, 16, 25]

In [6]:


items = [1, 2, 3, 4, 5]
squared = list(map(func1, items))
squared

[1, 8, 27, 64, 125]

In [12]:
def func1(x):
    return x**3
# without maps how would we write this

items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(func1(i))
    
print(squared)

[None, None, None, None, None]

In [13]:
# what is wrong with this
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    items.append(func1(i))
    
print(squared)

TypeError: unsupported operand type(s) for ** or pow(): 'NoneType' and 'int'

# print positive number 
# filter example

In [10]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [14]:
l1 = list(range(-10,10,1))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
def func2(x):
    if i < 0:
        pass
    
    else :
        return i
    
j =[]
for i in range(-10,10):
    print(i)
    print(func2(i))
    if func2(i) is not None:
        j.append(func2(i))
    
print(j)

-10
None
-9
None
-8
None
-7
None
-6
None
-5
None
-4
None
-3
None
-2
None
-1
None
0
0
1
1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
number_list = range(-5, 5)
less_than_zero = list(filter(lambda x: x >= 0, number_list))
print(less_than_zero)

[0, 1, 2, 3, 4]

Reduce examples

In [20]:
product = 1
list = [1, 2, 3, 4]
for num in list:
    print(str(product)+'*'+str(num))
    product = product * num

product

1*1
1*2
2*3
6*4

24

In [21]:
from functools import reduce
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])
product

24

In [15]:
first_name = ['Joe','Earnst','Thomas','Martin','Charles']
last_name = ['Schmoe','Ehlmann','Fischer','Walter','Rogan','Green']
age = [23, 65, 11, 36, 83]

for i in range(len(first_name)):
    print(first_name[i],last_name[i],age[i])

Joe Schmoe 23
Earnst Ehlmann 65
Thomas Fischer 11
Martin Walter 36
Charles Rogan 83

In [ ]:
first_name = ['Joe','Earnst','Thomas','Martin','Charles']
last_name = ['Schmoe','Ehlmann','Fischer','Walter','Rogan','Green']
age = [23, 65, 11, 36, 83]

for first_name, last_name, age in zip(first_name, last_name, age):
    print(f"{first_name} {last_name} is {age} years old")

Joe Schmoe is 23 years old
Earnst Ehlmann is 65 years old
Thomas Fischer is 11 years old
Martin Walter is 36 years old
Charles Rogan is 83 years old

In [ ]:
full_name_list = [('Joe', 'Schmoe', 23),
                  ('Earnst', 'Ehlmann', 65),
                  ('Thomas', 'Fischer', 11),
                  ('Martin', 'Walter', 36),
                  ('Charles', 'Rogan', 83)]

first_name, last_name, age = (zip(*full_name_list))
print(f"first name: {first_name}\nlast name: {last_name} \nage: {age}")

first name: ('Joe', 'Earnst', 'Thomas', 'Martin', 'Charles')
last name: ('Schmoe', 'Ehlmann', 'Fischer', 'Walter', 'Rogan')
age: (23, 65, 11, 36, 83)