In [ ]:
for (int i =0; i <10;i++){
    
}

for each

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in list(range(10)):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
l1 = [1,2,3,4]
l2 = [2,3,4,1]
l1 == l2

False

In [4]:
d1 = dict(name='Bob', age=40)
d2 = dict( age=40,name='Bob')

d1 ==d2

True

In [5]:
str1 ="value1"
str1.capitalize()

'Value1'

In [6]:
str1

'value1'

In [7]:
list1 = [1,2,3]
list1.append(6)

In [8]:
list1

[1, 2, 3, 6]

In [9]:
for i in list1:
    print(i)

1
2
3
6

In [13]:
for i in d1.keys():
    print(i)

name
age

In [14]:
for i in d1.values():
    print(i)

Bob
40

In [16]:
for i in d1.keys():
    print(str(i) + "-->" + str(d1[i]))

name-->Bob
age-->40

In [20]:
for key, value in d1.items():
    print(str(key) + "-->" + str(value))

name-->Bob
age-->40

In [18]:
d1.items()

dict_items([('name', 'Bob'), ('age', 40)])

In [ ]:
list1 = [1,2,3,{"name":"vale"},(23,9,5),"sdr"]

In [21]:
dict1 ={"name": }

In [22]:
dict1 ={[1,2,3,4,5]: [1,2,3,4,5]}

TypeError: unhashable type: 'list'

In [23]:
dict1 ={1: 233}

In [24]:
abc = "asdf"
dict1 ={abc: 233}

NameError: name 'abc' is not defined