In [2]:
a = (1,2,3,4,5)
a2 = tuple([1,2,3,4,5])

2483297391280

In [6]:
a = a+ (7,8)
id(a)

1997918264896

In [3]:
a

(1, 2, 3, 4, 5, 7, 8)

In [7]:
list1 = [1,2,3,4,5]
id(list1)
list1 = list1 + [9,10,3]
id(list1)

1997920134272

1997920125184

In [14]:
list1 = [1,2,3,4,5]
id(list1)
list1.append([9,10,3])
id(list1)

1997920100224

1997920100224

Tuple methods

In [15]:
t1=(1,2,3,4)
t1.index(4)
t1.count(3)

3

1

In [4]:
list1 = [1,2,3,4]
tuple1 = (1,2,3,4)
list1.append(5)
tuple1 = tuple1 + (5,)
list1
tuple1

[1, 2, 3, 4, 5]

(1, 2, 3, 4, 5)

In [5]:
tuple1 = (1,2,3,[5,6])

In [6]:
tuple1[3].append(88)

In [7]:
tuple1

(1, 2, 3, [5, 6, 88])

In [10]:
list1 = [1,2,3,4]
id(list1)
list1.append(5)
id(list1)

2483297406144

2483297406144

In [11]:
tuple1 = (1,2,3,4)
id(tuple1)
tuple1 = tuple1 + (5,)
id(tuple1)

2483297528752

2483297393040

In [13]:
list1 = [1,2,3,4]
id(list1)
list1 = list1.append(5)
id(tuple1)

2483297701504

2483297393040

In [14]:
tuple1 = (1,2,3,[5,6])
id(tuple1)
tuple1[3].append(88)
id(tuple1)

2483297513568

2483297513568